@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

li {
    list-style-type: none
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
}

.left-links,
.right-links {
    display: flex;
}

ul.left-links {
    padding-left: 0;
}

.right-links a {
    font-size: 18px;
    color: #E5E7EB;
    padding-left: 20px;
}

.left-links a {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.header, .awesome {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.bg-color-dark {
    background-color: #1F2937;
}

.awesome {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
}

.awesome-right, .awesome-left {
    flex: 1;
}

.awesome-left .text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.awesome-left .subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

button {
    background-color: #3882F6;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.awesome-left button {
    border: 0;
    font-size: 18px;
    color: #F9FAF8;
    font-weight: 900;
}

.awesome-right {
    display: flex;
}